<div class="row">
  <div class="col-md-4">
    <img src="https://image.tmdb.org/t/p/w500/<%=@movie["poster_path"]%>">
  </div>
  <div>
    <h2>Rating</h2>
  </div>
  <div class="col-md-5 col-md-offset-1">
    <div class="well movie-title card-panel">
      <h2><%= @movie["title"] %></h2>
      <p><%= @movie["overview"] %></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div class="well review-info card-panel">
      <h3>Review Title</h3>
      <p>Review Conclusion<p>
        <p>Review Score</p>
        <p>Author Name</p>
      </div>
  </div>
  <div class="col-md-5">
    <div class="well review-info card-panel">
      <h3>Review Title</h3>
      <p>Review Conclusion<p>
        <p>Review Score</p>
        <p>Author Name</p>
      </div>
  </div>
</div>
