
<img class='poster' src="https://image.tmdb.org/t/p/w500/<%=@movie["poster_path"]%>">

<div id="movie-info">
  <h2><%= @movie["title"] %></h2>
  <p><%= @movie["overview"] %></p>

  <p>Average Rating</p>
</div>

<%= link_to "Click here to write a review", new_movie_review_path(@movie['id']) %>

<div id="review-info">
  <h3>Review Title</h3>
  <p>Review Conclusion<p>
  <p>Review Score</p>
  <p>Author Name</p>
</div>
