$navbar-default-bg: #563D7C;
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  border-radius: 0;
}

#bs-example-navbar-collapse-1 ul a {
  color: white;
}

#navbar-brand {
  color: white;
}

.poster {
  height: 250px;
  width: 150px;
}
