$navbar-default-bg: #563D7C;
@import "bootstrap-sprockets";
@import "bootstrap";
@import "materialize";

body {
  background-color: #d8d4dd;
  font-family: Tahoma;
}

.navbar {
  border-radius: 0;
}

.footer {
  border-top: 1px solid black;
  margin-top: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#bs-example-navbar-collapse-1 ul a {
  color: white;
}

#navbar-brand {
  color: white;
}

.movie-slider-home-page {
  padding-top: 40px;
  background: linear-gradient(#7D6D6E, #54646F);
  box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.6);
  // z-index: 50;
}


.poster a img {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
  transition: all .2s ease-in-out;
  box-shadow: 2px 4px 5px rgba(0,0,0,0.8);
}


.poster {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.poster a {
  width: 50%;
  display: block;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: black;
}

.title-homepage {
  padding: 15px 30px;
}

#navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
}

.poster a img:hover{
  box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
  transform: scale(1.2);

}

.card-panel {
  box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
}

.review-info {
  width: 80%;
  margin: 40px;
}

.user-review-info {
  width: 500px;
  margin: 40px;
}

.container-1 {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 800px;
  height: 50px;
  background: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #65737e;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);

}


.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.container-1 input#search:-ms-input-placeholder {
   color: #65737e;
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.search-img {
  width: 250px;
  height: auto;
  margin: 30px;
  box-shadow: 2px 4px 5px rgba(0,0,0,0.2);
  transition: all .2s ease-in-out;
}

.search-img:hover{
  box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
  transform: scale(1.1);

}

#movie-page-poster {
  width: 400px;
  height: auto;
  margin: 25px 70px;
  box-shadow: 2px 4px 5px rgba(0,0,0,0.5);

}
