
<h2>Popular now</h2>
<div id="main-slider"  class="movie-slider">
  <div><img class='poster' src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg">Batman: The Dark Knight</div>
  <div><img class='poster' src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg">Batman: The Dark Knight</div>
  <div><img class='poster' src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg">Batman: The Dark Knight</div>
  <div><img class='poster' src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg">Batman: The Dark Knight</div>
  <div><img class='poster' src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg">Batman: The Dark Knight</div>
  <div><img class='poster' src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg">Batman: The Dark Knight</div>
  <div><img class='poster' src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg">Batman: The Dark Knight</div>
  <div><img class='poster' src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg">Batman: The Dark Knight</div>
  <div><img class='poster' src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg">Batman: The Dark Knight</div>
 </div>
</div>

<h2>Genres</h2>
<div id="genre-slider"  class="movie-slider">
  <div><img class='poster' src="http://vignette3.wikia.nocookie.net/total-movies/images/b/b5/Ace_Ventura_When_Nature_Calls_poster.jpg/revision/latest?cb=20131121203321">Comedy</div>
  <div><img class='poster' src="http://vignette3.wikia.nocookie.net/total-movies/images/b/b5/Ace_Ventura_When_Nature_Calls_poster.jpg/revision/latest?cb=20131121203321">Comedy</div>
  <div><img class='poster' src="http://vignette3.wikia.nocookie.net/total-movies/images/b/b5/Ace_Ventura_When_Nature_Calls_poster.jpg/revision/latest?cb=20131121203321">Comedy</div>
  <div><img class='poster' src="http://vignette3.wikia.nocookie.net/total-movies/images/b/b5/Ace_Ventura_When_Nature_Calls_poster.jpg/revision/latest?cb=20131121203321">Comedy</div>
  <div><img class='poster' src="http://vignette3.wikia.nocookie.net/total-movies/images/b/b5/Ace_Ventura_When_Nature_Calls_poster.jpg/revision/latest?cb=20131121203321">Comedy</div>
  <div><img class='poster' src="http://vignette3.wikia.nocookie.net/total-movies/images/b/b5/Ace_Ventura_When_Nature_Calls_poster.jpg/revision/latest?cb=20131121203321">Comedy</div>
  <div><img class='poster' src="http://vignette3.wikia.nocookie.net/total-movies/images/b/b5/Ace_Ventura_When_Nature_Calls_poster.jpg/revision/latest?cb=20131121203321">Comedy</div>
  <div><img class='poster' src="http://vignette3.wikia.nocookie.net/total-movies/images/b/b5/Ace_Ventura_When_Nature_Calls_poster.jpg/revision/latest?cb=20131121203321">Comedy</div>
  <div><img class='poster' src="http://vignette3.wikia.nocookie.net/total-movies/images/b/b5/Ace_Ventura_When_Nature_Calls_poster.jpg/revision/latest?cb=20131121203321">Comedy</div>
 </div>
</div>
