
<img>Movie Image</img>

<div id="movie-info">
  <h2>Movie Title</h2>
  <p>Description</p>
  <p>Average Rating</p>
</div>

<div id="review-info">
  <h3>Review Title</h3>
  <p>Review Conclusion<p>
  <p>Review Score</p>
  <p>Author Name</p>
</div>
