<div class="container">
  <footer class="footer">
    <small>
      Copyright ©
      <a href="#">CritiqueHub</a>
      by
      <a href="https://github.com/kwokhuen/client_project">Two Thumbs Up</a>
      <p>Powered by:<br> <%= image_tag "mdb", size: "40x40"%></p>
    </small>
  </footer>
</div>
